<a href="https://colab.research.google.com/github/ipshitaRB/Analyzing-CIA-Factbook-data/blob/master/Analyzing_CIA_Factbook_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
# import required libraries
import pandas as pd
import sqlite3

In [0]:
# connect to factbook.db
conn = sqlite3.connect("/content/drive/My Drive/Data Science /Data/CIA Factbook/factbook.db")

In [18]:
query = "SELECT * FROM facts;"
facts_df = pd.read_sql_query(query, conn)

# check data
facts_df.head()

   id code  ...                  created_at                  updated_at
0   1   af  ...  2015-11-01 13:19:49.461734  2015-11-01 13:19:49.461734
1   2   al  ...  2015-11-01 13:19:54.431082  2015-11-01 13:19:54.431082
2   3   ag  ...  2015-11-01 13:19:59.961286  2015-11-01 13:19:59.961286
3   4   an  ...  2015-11-01 13:20:03.659945  2015-11-01 13:20:03.659945
4   5   ao  ...  2015-11-01 13:20:08.625072  2015-11-01 13:20:08.625072

[5 rows x 13 columns]

## Find minimum and maximum population and population growth

In [20]:
# query for summary statistics of population and population growth
min_max_query = "select min(population) min_pop, max(population) max_pop, min(population_growth) min_pop_grwth, max(population_growth) max_pop_grwth from facts"
pd.read_sql_query(min_max_query, conn)

   min_pop     max_pop  min_pop_grwth  max_pop_grwth
0        0  7256490011            0.0           4.02